{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "chat/css/support.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "utilities/js/full-height-widget.js" %}"></script>
    <script>
        window.addEventListener("load", function () {
            document.getElementById("support-container").appendChild(support.getContainer());
            fullHeightWidget(support.getContainer());
        });
    </script>
{% endblock %}

{% block content %}
    <div id="support-container"></div>
{% endblock %}
