.tab-view > .tab-overview.card > .card-header.uniform,
.tab-view > .tab-content > .card > .card-header.uniform {
    flex-shrink: 0;
    height: 4rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab-view > .tab-overview.card, .tab-view > .tab-overview.card > .card-header,
.tab-view > .tab-content > .card, .tab-view > .tab-content > .card > .card-header {
    border-radius: 0 !important;
}
