{% extends "base.html" %}
{% load i18n %}
{% load theme %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-info">
                <div class="card-header">
                    <span class="card-title">{% translate "Change Theme" %}</span>
                </div>
                <div class="card-body">
                    <form id="change-theme" method="POST" action="{% url "change_theme" %}">
                        {% csrf_token %}
                        {% for theme in themes %}
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="theme" value="{{ theme.pk }}"
                                               {% if request.user.get_theme == theme %}checked{% endif %}>
                                        {{ theme.name }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary btn-block" form="change-theme" type="submit">
                                {% translate "Change" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
